body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 10px;
    background: linear-gradient(to bottom right, #ffffff, #ffffff);
    color: #333;
}
header {
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    color: #000000;
    padding: 7px;
    border-radius: 7px;
    margin-bottom: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header h1 {
    margin-bottom: 5px;
    color: #000000;
    font-size: 28px;
}
header p {
    margin-bottom: 5px;
    font-size: 18px;
}
.section {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.section h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    color: #000000;
    font-size: 24px;
    margin-bottom: 5px;
}
.section ul {
    padding-left: 20px;
    list-style-type: none;
    margin-left: 0;
}
.section ul li {
    margin-bottom: 5px;
}
.section p {
    margin-bottom: 5px;
}
.footer-thanks {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.footer-thanks img {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
.footer-thanks span {
    font-size: 18px;
}